version: '3.8'

services:
  database:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network
    restart: always

  backend:
    image: desarrollo147/plat_epa-backend:latest
    container_name: backend-api
    environment:
      - MONGO_URI=mongodb://mongodb:27017/epadatabase
      - PORT=5000
      - SECRET_JWT_SEED=Esto-Es-UnA-PalbR@_SecretA12345678
      - REFRESH_JWT_SEED=mi_clave_super_segura_refresh
      - EMAIL_USER=desarrollo.tic@epa.gov.co
      - EMAIL_PASS=kdgqzmfwyfcwmfqv
      - INICIO_JORNADA=6
      - FIN_JORNADA=18
      - CORS_ORIGIN=*
      - NODE_ENV=production
    ports:
      - "5000:5000"
    depends_on:
      - database
    networks:
      - app-network
    restart: always

  frontend:
    image: desarrollo147/plat_epa-front:latest
    container_name: frontend-app
    ports:
      - "5500:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: always

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 --cleanup
    restart: unless-stopped

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge