services:
  database:
    image: mongo:6
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network
    restart: always

  backend:
    image: desarrollo147/plat_epa-backend:latest
    env_file:
      - ./PLAT-EPA_BackendFinal/.env.docker
    ports:
      - "5000:5000"
    depends_on:
      - database
    networks:
      - app-network
    restart: always

  frontend:
    image: desarrollo147/plat_epa-front:latest
    env_file:
      - ./plataforma-epa-front/.env.produccion
    ports:
      - "5500:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: always

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
