services:
  database:
    image: mongo:6
    container_name: mongodb
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network
    restart: always

  backend:
    image: desarrollo147/plat_epa-backend:latest
    container_name: backend-api
    env_file:
      - ./PLAT-EPA_BackendFinal/.env.docker
    ports:
      - "5001:5000"
    depends_on:
      - database
    networks:
      - app-network
    restart: always

  frontend:
    image: desarrollo147/plat_epa-front:latest
    container_name: frontend-app
    env_file:
      - ./plataforma-epa-front/.env.produccion
    ports:
      - "5500:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: always

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    privileged: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOCKER_API_VERSION=1.52
    command: --interval 30 --cleanup
    restart: unless-stopped

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge